/* CSS RESET - undo the varying default styling applied by web browsers to HTML elements */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  /* text-rendering: optimizeSpeed; */
  line-height: 1.5;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* sr-only is for screen reader use only -
The element will be visually hidden but will still be read by screen reader technology. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  display: none;
  z-index: -1000;
  text-indent: -9999px;
}

/*  A big shout out to Andy Bell at https://andy-bell.co.uk/about/
    For his great article " A Modern CSS Reset " I recommend giving it a read at https://andy-bell.co.uk/a-modern-css-reset/
*/


/* MY CUSTOM CSS RULES BELOW */

/* Reusable Custom CSS Variables */
:root {
  --color1: #16AA2D;      /* Button Background */
  --color2: #303030;      /* Card Title */
  --color3: #808080;      /* Card Text */
}

@font-face {
  font-family: 'Gazpacho';
  font-weight: bold;
  src: url('../fonts/Gazpacho-Bold.woff2') format('woff2'),
  url('../fonts/Gazpacho-Bold.woff') format('woff'),
  url('../fonts/Gazpacho-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gazpacho';
  font-weight: 900; /* 900 is typically used for 'black' weight, setting font-weight here allows the same font-family name to be used for both weight variations*/
  src: url('../fonts/Gazpacho-Black.woff2') format('woff2'),
  url('../fonts/Gazpacho-Black.woff') format('woff'),
  url('../fonts/Gazpacho-Black.ttf') format('truetype');
}

body {
  font-family: 'Manrope', sans-serif;
}

/* Divs, Containers & buttons - Reusable */
.main {
  flex-direction: column;
}

.container {
  width: 85%;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  padding: 2rem 0;
}

.btn {
  height: 40px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 10.083px;
  font-weight: 600;
  line-height: 120%; /* 12.099px */
  border-radius: 4px;
  padding: 0 22px;
}

.btn--primary {
  color: #FFF;
  background-color: #0AB76E;
  border: 1px solid #0AB76E;
}

.btn--secondary {
  color: #0AB76E;
  border: 1px solid #0AB76E;
}


/* Typography - Reusable */
.section__title {
  font-family: 'Gazpacho', serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}

.section__description {
  color: #000;
  text-align: center;
  font-size: 12px;
  line-height: 150%; /* 18px */
}

.green {
  color: #0AB76E;
}

/* Hero Section */
.hero-section {
  flex-direction: column;
}

.hero-section__btn-wrapper {
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20px; /* sets gap between btns, update / unset for desktop */
  margin-top: 12px;
}

/* Deals Section */
.deals-card-section {
  background-color: #F7FFFC;
}


/* Testimonials Section */
.testimonials__card-wrapper {
  background-color: #FFF;
  padding-top: 63px;
  gap: 20px;
}

.testimonial__card {
  background-color: #F8F8F8;
  padding: 12px 28px;
  border-radius: 5.467px;
}

.testimonial__card__head-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.testimonial__card__avatar {
  width: 54px;
  height: 54px;
  margin-right: 13px;
  border-radius: 50px;
}

.testimonial__card__title {
  color: #303030;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.testimonial__card__sub-title {
  color: #808080;
  font-size: 12px;
  line-height: 150%; /* 18px */
}

.testimonial__card__text--body {
  color: #808080;
  font-size: 14px;
  line-height: 150%; /* 21px */
}


/* Footer Section */
.footer-section {
  background-color: #00460B;
  color: #FFF;
}

.footer-div {
  width: 100%;
  align-items: flex-start;
}

.footer-div__title {
  padding-top: 27px;  /* will need to be updated for other footer titles that share this class */
  font-family: 'Gazpacho', serif;
  font-size: 24px;
  font-weight: 900;
}

.footer-line {
  margin: 12px 0;
  fill: #FFF;
  stroke-width: 1px;
  stroke: #D0D0D0;
  width: 100%;
}

.footer-div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-div a {
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%; /* 18px */
}

.footer-div__text--body {
  font-size: 12px;
  line-height: 150%; /* 18px */
}

.footer__text--copyright {
  font-size: 12px;
  font-weight: 600;
  line-height: 120%; /* 14.4px */
  margin: 18px 0 14px 0; /* make updates later for pixel perfect */
}

.social {
  flex-direction: row;
}

.social a {
  font-size: 30px;
  margin: 0 12px;
}

/* Header Section - currently in testing */

header {
  position: relative;
  background-color: #FFF;
  padding: 1rem;
  transition: 0.5s background-color 0s linear;
  /* transition: height 0.5s linear; */
  /* background-color: yellow; */
  /* height: 100vh; */
}



header.open {
  height: 100vh;
  background-color: #16AA2D;
}

header.open nav.flex {
  align-items: flex-start; /* Ensures .menu-icon doesnt move itself down when displaying .nav-list when header.open (hamburger menu open) */
}

.header-btn {
  height: 32px;
}

.header-btn.open {
  display: none;
}

.menu-icon .bar {
  width: 27px;
  height: 4px;
  background-color: #333;
  margin: 5px 0;
  /* background-color: white; */
}

.bar.open {
  /* width: 27px;
  height: 4px;
  background-color: #333;
  margin: 5px 0; */
  background-color: white;
  color: white;
}

.nav-list {
  display: none;
  list-style-type: none;
  padding: 0;
  /* padding-top: 100px; */
  /* margin: 0px auto; *//* Ensure centered on hamburger menu click event "open" */

  /* transform: translateX(-100%);
  transition: transform 0.3s ease-in-out; */
}

/* When hamburger menu is open */
.nav-list.open {
  display: block;
  margin: 0px auto;
  padding-top: 100px;
  font-size: 30px;
  text-align: center; /* unsure of best alignemt get feedback from people once final font and styling is selected */
}

.nav-list li {
  padding: 12px 0px; /* Original before experimenting with hamburger menu open    padding: 8px 12px;*/
  /* font-family: sans-serif; */
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
}

.nav-list li a {
  font-weight: 700;
  color: white; /* experimenting with hamburger menu open */
  text-decoration: none;
}

.header_brandname {
  display: none;
  border: 2px solid #0AB76E;
}

.header_brandname h1 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 26px;
}

header nav.flex {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Ensure header items are aligned correctly along vertical axis */
}
/* START OF DEALS CARDS - NEEDS MAJOR REFACTORING STILL */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 25px 0;
  width: 350px;
  height: 510px;
  border-radius: 8px;
  background-color: #FFF;
  color: var(--color3);
  box-shadow: 22.85714340209961px 21.428571701049805px 94.28572082519531px 0px #0000001A;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card--front,
.card--back {
  display: flex;
  flex-direction: column;
  align-items:  center;
  position: absolute;
  -webkit-backface-visibility: hidden; /* for Safari */
  backface-visibility: hidden;
  border-radius: 8px; /* Added as card rear / backface top corners were losing radius from card class ? */
}

/* this has been updated to target the inner img not the wrapper */
.img-wrapper img {
  width: 349px;
  height: 198px;
  border-radius: 8px 8px 2.6px 2.6px;
  background-color: bisque;
  object-fit: cover;
  overflow: hidden;
}

.card__bottom {
  width: 294px;
}

.card__title-price-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.card__title {
  font-family: 'Gazpacho', serif;
  font-size: 22px;
  font-weight: 900;
  color: var(--color2);
}

.card__price {
  font-family: 'Manrope', sans-serif; /* To override 'Gazpacho' set in .card__title */
  font-size: 20px;
  font-weight: 700;
  color: var(--color1);
}

.card__venue {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.card__text {
  font-size: 14px;
}

.card__item__title {
  font-size: 16px;
  font-weight: 600;
  margin: 0.9rem 0;
  color: var(--color2);
}

.card-front-CTA-btn {
  color: #FFF;
  background-color: var(--color1);
  border: none;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}

.card.is-flipped .card--front {
  z-index: -1;
}

.card.is-flipped .card--back {
  z-index: 1;
}

.card .card--back {
  transform: rotateY(180deg);
}

/* Styles for flipped cards */
.card.is-flipped {
  transform: rotateY(180deg);
}

/* BACK OF CARD */

.card-back-btn {
  font-size: 2.7rem;
  color: var(--color1);
  margin: 20px 0 0 20px;
  position: absolute;
  left: 5px;
}

.barcode-wrapper img {
  width: 162px;
  padding: 12px;
  border: 0.95px solid #F2F2F2;
  border-radius: 7px;
  box-shadow: 3.4688737392425537px 3.4688737392425537px 10.406620979309082px 0px #00000012; /*refactor by rounding ?? */
  margin-top: 45px; /* due to .card-back-btn been position absolute this helps to position rest of rear card content */
  margin-bottom: 12px;
}

.card--back__text-wrapper {
  margin: 0 10px 0 28px;
}

.card--back__main-heading-price {
  color: #303030;
  font-size: 20px;
}

.card--back__main-heading-venue {
  color: #303030;
  font-family: 'Gazpacho', serif;
  font-size: 20px;
  font-weight: 700;
}

.card--back__sub-title {
  color: #303030;
  font-family: 'Gazpacho', serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 13px;
}

.card--back__body-text {
  color: #808080;
  font-size: 13.7px;
  margin-top: 1px;
}

/* END OF DEALS CARDS - NEEDS MAJOR REFACTORING STILL */


/* Media Queries for viewports wider that 768px */
@media screen and (min-width: 768px) {

  header {
    padding: 0.5rem 1rem;
  }

  .header nav.flex {
    justify-content: space-between;
  }

  .menu-icon {
      display: none;
  }

  .header_brandname {
    display: block;
  }

  .nav-list {
      display: flex;
      /* margin: 0px auto; */
      /* gap: 10px; */
      padding: 0; /* Unsets what is used for mobile view hamburger menu */
  }

  .nav-list li {
    padding: 0px 18px
  }

  .nav-list li a {
    color: black;
  }

}